.h-24 {
    height: 12rem !important;
}
.mt-1 {
    height: 3rem !important;
    margin-top: 0.25rem !important;
}
.input-style{
    color: #000 !important;
    background-color: #FFF !important;
}
.text-gray-900
{
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity, 1));
    background-color: #FFF !important;

}